@import "../globals.css";

header {
  padding-inline: 5rem;
  padding-block: 1rem;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 140px;
  height: 120px;
  object-fit: contain;
}

.header-nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-nav-link {
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--clr-dark);
}

.sign-up-btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  color: white;
  background-color: var(--clr-primary);
  border-radius: 0.75rem;
  max-width: fit-content;
}

.sign-up-btn:hover {
  background-color: #7ba6f5;
  font-size: 0.895rem;
  box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.75);
}

.sign-up-btn:active {
  background-color: var(--clr-primary);
  font-size: 0.875rem;
  box-shadow: none;
}

.sign-up-btn .icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.hamburger-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* Breakpoints */

@media (width < 90rem /* 1440px */) {
  header {
    padding-inline: 2rem;
  }
}

@media (width < 80rem /* 1280px */) {
  header {
    padding-inline: 1.5rem;
  }
  
  .header-nav-links {
    gap: 2rem;
  }
}

@media (width < 48rem /* 768px */) {
  .header-nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
